/*Effects*/
.shadow{
	box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
}
.radius{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.radiusTL{
  -webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}
.radiusT{
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
.radiusR{
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}


/* Scroll bar */

.right::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    padding: 0px;
    padding-right: 10px;
    -webkit-border-radius: 1ex
}

.right::-webkit-scrollbar-thumb {
    background-color: rgba(053,057,071,0.3);
    padding: 8px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 1ex;
}

.right::-webkit-scrollbar-thumb:vertical{
    height: 3px;
    width: 3px;
    margin: 3px;
}