/*Imports*/
@import url("speech.css");
@import url("effects.css");
@import url("ui.css");


/*Basic Component*/
html,body,a,p,span,div,fieldset,legend{margin:0; padding:0}
body{font-size:8pt; font-family:"Helvetica Neue", tahoma, verdana, arial, sans-serif;overflow-y: auto;}
a {
	color: #004C4C;
	text-decoration: none;
	border:0;
}
a:hover {
	text-decoration: underline;
}



/*Layouts*/

.top{
  background-color: #004C4C;
  position: fixed;
  top:0px;
  width: 100%;
  height: 50px;
  max-height: 50px;
  color:#fff;
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 1px solid black;
  z-index: 1;
}



.top_contents, .contents, .footer_contents{width:1040px; margin: 0 auto; margin: 0 auto;}

.top_contents{padding:7px 0 0 0;}

.top_contents .logo,.top_contents .search{float:left;margin-top: 5px;}
.top_contents .top_right{float:right;}

.top_contents .logo{
text-shadow: 1px 1px 0 #343434;
font-size: 30px;
font-weight: bold;
padding: 0 5px 1px 5px;
}
.top_contents .logo a {color: #fff;}
.top_contents .logo a:hover {text-decoration: none;}
.top_contents .logo:hover{background-color: #347259;}

.top_contents .search{
  margin: 5px 10px 0 10px;
  padding: 0 0 0 30px;
  width: 470px;
  height: 38px;
  border: 0px solid #898989;
  background-color: #347259;
  background-image: url(../image/search_box.png);
  background-repeat: no-repeat;
  background-position: 10px 5px;
}

.top_contents .search input{
  background: none;
  border: none;
  outline: none;
  outline: 1px;
  width: 305px;
  height: 31px;
  font-size: 13px;
  margin-top: 4px;
  margin-left: 15px;
  margin-right: 20px;

}

.top_contents .search .input_wrapper,.top_contents .search .ask_wrapper{float:left;}
.top_contents .search .ask_wrapper{padding:10px 0 0 16px; width:105px;}
.top_contents .search .ask_wrapper a{
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 #343434;
}


/* sign in box */
.signin_box {margin-top: 3px;}
.register_link{ text-shadow: 1px 1px 0 #343434; font-weight: bold; }
.register_link a{color:#FFC53F;}
.inputtext{
	border:1px solid #e8e8e8;margin:0;width:100px;
	padding: 4px;
	margin-right:4px;
	margin-bottom: 1px;
	font-size: 10px;
}


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 6px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.button:hover {text-decoration: none;}
.button:active {position: relative; top: 1px;}
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #faa51a;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}




.radius{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.user_box {margin-top:6px; padding:4px 0px 0px 0px;}
.user_box a{color:#B9BBBC; font-size: 13px; font-weight: bold;}
.user_box a:hover{color:#fff; text-decoration: none;}
.user_box .profile,.user_box ul{float:left;}
.user_box ul{margin:8px 10px;}
.user_box ul,.user_box ul li{list-style: none; display: inline}
.user_box ul li{margin:0; padding:10px 10px 9px 10px;}
.user_box ul li:hover{background-color: #347259;}
.user_box .profile{margin: 0px 4px;}
.user_box .profile img{border: 1px solid #004C4C; width:28px; height: 28px;}
.user_box .profile img:hover{border: 1px solid #fff;}



/*Main Area*/
.contents{margin-top: 60px; padding:0;}
.main{display: inline-block;}
.left, .right{float:left;}
.left{
  display: inline-block;
  width:470px;
  padding: 0;
  min-height: 600px;
  border-right: 1px solid #c6e4d8;
}
.right{
  display: inline-block;
  width:569px;
  padding:0;

}
.right_wrapper{
  border-left: none;
  min-height: 600px;
  max-height: 800px;
  width: 569px;
  padding:0px 0px;
}







/*Footer*/
.footer{border-top: 1px solid #cdcdcd;background-color: #ededed; color: black; min-height: 50px;padding: 10px 5px;
}
.footer .logo {color:#ababab; font-size: 14px;}
.footer .logo b{text-shadow: 1px 1px 0 #fff;
font-size: 30px;
font-weight: bold;
color:#ababab;margin-right: 10px;}


/*Tabs*/
ul.tabs{border-bottom: 1px solid #c6e4d8;}
ul.tabs, ul.tabs li{list-style: none; margin:0; padding:0; font-size: 14px; font-weight: bold;}
ul.tabs{display: block; padding:10px;padding-bottom: 5px;}
ul.tabs li{display: inline; padding:5px 10px 0px 10px;text-shadow: 1px 1px 0 #efefef;}

ul.tabs li.selected,ul.tabs li:hover{background-color: white;}
ul.tabs li.selected{border-top:3px solid #004C4C;}
ul.tabs li:hover{border-top:2px solid #347259;}
ul.tabs li a:hover{text-decoration: none; color: black;}

ul#questionSearchResults, ul#questionSearchResults li {list-style: none;margin:0; padding:0;}
ul#questionSearchResults li {padding:10px;border-bottom: 1px dashed #ebebeb;}
ul#questionSearchResults li:hover {background-color: #ebebeb;}

ul#timelineList, ul#timelineList li {list-style: none;margin:0; padding:0;}
ul#timelineList li {padding:10px;border-bottom: 1px dashed #ebebeb;}
ul#timelineList li:hover {background-color: #ebebeb;}






/*Question Display*/
.question_display{
  position: relative;
}
.question_wrapper{
  
  margin: 0 0 0 0px;
  padding: 0 0 0px 0;
  display: inline-block;
}
.question_info{
  display: inline-block;
  border-bottom: 1px solid #cdcdcd;
  background-image:url(../image/v_tab_bg2.jpg);
  padding: 10px;
}
.question_info .question_contents{
  width: 475px;
  margin: 0px 10px;
}
.question_info .question_contents .info a{
  font-weight: bold;
}
.question_info .question_contents .question_title{
  font-size: 20px;
  color: #004C4C;
  text-shadow: 1px 1px 0 #efefef;
  font-weight: bold;
}

.question_info .question_contents .info{
  font-size: 14px;
  vertical-align: middle;
  height: 20px;
  margin-top: 1px;
}

.question_info .question_contents,.question_info .profile{
  float:left;
  vertical-align: top;
}

.question_info .profile,.question_info .profile img{
  width:50px;
}
.question_detail{
  display: inline-block;
  width: 535px;

  padding: 10px 15px;

}
.question_detail .detail_contents{
  font-size:15px; line-height: 20px;
  color:#343;
}
.question_info .actions{position: absolute;top:5px;right:0px;}

.question_info .actions .follow{float:right;padding:0px 7px;}


.answer_wrapper{
  
}

.in-reply-to-border {
padding-left: 36px;
margin-right: 4px;
color: #999999;
font-size: 12px;
}
fieldset.in-reply-to-border {
border-color: #EBEBEB;
border-style: solid;
border-width: 1px 0 0;
}


.best_answer_wrapper, .answers_wrapper{
  display: inline-block;
  width:570px;
}
.best_answer_wrapper .answer,.answers_wrapper .answer{padding: 0 10px; display: inline-block; }
.best_answer_wrapper .profile, .answers_wrapper .profile{
  width:50px;
  padding:8px 0;
  float:left;
  text-align: center;
}
.best_answer_wrapper .answer .speech,
.answers_wrapper .answer .speech{width:500px; font-size:14px; line-height: 20px;}
.best_answer_wrapper .answer .speech .question .question_text,
.answers_wrapper .answer .speech .question .question_text{width:480px; max-width: 480px;}



.register_form{text-align: center;  }




.profile_wrapper{
border-bottom: 1px solid #c6e4d8;
min-height: 120px;
width: 460px;
margin-bottom: 10px;
padding: 10px 0 10px 10px;
display: inline-block;
}


h3.message {
	border-top: 1px solid #CC6600;
	border-bottom: 1px solid #CC6600;
	background: #FFEFDF;
	padding: 10px;
	font-size: 14px
}

h3.pop_message{
	border-top: 1px solid #CC6600;
	border-bottom: 1px solid #CC6600;
	background: #FFEFDF;
	font-size: 13px;
	padding: 4px;
	padding-bottom: 4px;
	
	
}

.tag {padding: 4px;font-size: 12px;border: medium;}


.resume {
	padding: 8px;
}

.box h3 {
	display: block;
	margin-right: 10px;
}

.topic ul, .topic li{margin:0px; list-style: none;}
.topic ul{padding:5px 0 0 0;height:20px;width:320px;}
.topic li{display: inline; margin-right: 5px;
  background-color: #347259;
}

.topic li.topic_item{ -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;  border: 1px solid white; background: #C6E4D8; padding: 1px 10px 2px 5px; position: relative; margin-top:5px;margin-bottom:5px; float:left;}
.topic li.topic_item.False{ padding-right:5px;}
.topic li.topic_item .deleteButton{border:none; padding:0px;}
.topic li.topic_item .deleteButton { position: absolute; right: 4px; top: 4px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('../image/close.gif'); }
.topic li.topic_item .deleteButton:hover { background-position: 7px; }
.topic li.topic_item:hover{border: 1px solid #347259; cursor: pointer;}
.topic li.topic_item b{margin:0 5px 0 0; text-shadow: 1px 1px #efefef;}
.topic li.topic_item.False b{margin:0 0 0 0;}

form.delete{display: inline;}

.hidden {display: none;}


.old_stuff{
  padding: 10px;
  font-size: 12px;
}
.old_stuff div{
  margin: 10px;
}

.old_stuff ul{
  margin: 0px 0 0 40px ;
}



.profile_wrapper .profileImg{
  width:120px;
}
.profile_wrapper .picture_box,.profile_wrapper .right_area{float:left; display: inline-block;}
.profile_wrapper .picture_box{
  width:120px;
  position: relative;
}
.profile_wrapper .picture_box .picture_uploader{
  position: absolute;
  bottom:2px;
  color: white;
  width: 120px;
  text-align: center;
  background-color:#347259;
  opacity: 0.75;
}
.profile_wrapper .picture_box .picture_uploader a,.profile_wrapper .picture_box .picture_uploader a h3{color:white; text-shadow: none;}

.profile_wrapper .right_area{
  padding:0px 10px 10px 10px;
  max-width: 320px;
}

.profile_wrapper h2,.profile_wrapper h3{margin:0;
  color: #004C4C;
  text-shadow: 1px 1px 0 #efefef;
}
.profile_wrapper h2{padding:0 0 10px 0px;}