/* UI Object */
/* Common */

.ld_line{position:absolute;top:64px;left:56px;z-index:1000;height:40px;}
.ld_line:after{display:block;clear:both;content:''}
.ld_line .lft,.ld_line .rgt{float:left;width:11px;height:40px;font-size:0;line-height:0}
.ld_line .lft{background:url(../image/ld1_lft.png) no-repeat 0 0;}
.ld_line .rgt{background:url(../image/ld1_rgt.png) no-repeat 0 0;}
.ld_line .cont{float:left;height:26px;padding:14px 7px 0 0;background:url(../image/ld1_cen.png) repeat-x 0 0;color:#fff}
.ld_line .cont img{margin:-3px 9px 0 0;vertical-align:top}
/* //UI Object */


#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 0px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:4px;
  right:5px;
  padding:2px;
}
#facebox .close img{
  opacity:0.9;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}



#facebox .content .dialog_header{
  background-color: #004c4c;
  color:white;
  font-size: 18px;
  font-weight: bold;
  padding:5px 10px;
  text-shadow: 1px 1px 0 #343434;
  max-height: 20px;
}

#facebox .content .dialog_footer{
  background-color: #ededed;
  color:#ababab; font-size: 14px;
  padding:5px 10px;
  text-align: center;
}

#facebox .content .dialog_footer b{text-shadow: 1px 1px 0 #fff;
font-size: 16px;
font-weight: bold;
color:#ababab;margin-right: 10px;}

#facebox .content .dialog_main{
  display: inline-block;
  background-color: #fff;
  width:100%;
}
#facebox .content .dialog_wrapper{
  float:left; width:50%;
}
#facebox .content .dialog_left{ 
  padding:10px;
}
  
#facebox .content .dialog_left .welcome b{
  text-shadow: 1px 1px 0 #fff;
  font-size: 30px;
  font-weight: bold;
  display: block;
}

#facebox .content .dialog_right{ 
  padding:10px;
}

#facebox .content .dialog_right .input_item{
  background-color: #181818;
  color: white;
  height: 25px;
  vertical-align: middle;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  
}
#facebox .content .dialog_right .input_item b{
  margin: 0px 10px 0px 0px;
  line-height: 25px;
}

#facebox .content .dialog_right .input_item input{
  float:right;
  width:240px;
  height: 20px;
  border:none;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 10px;
	font-size: 12px;
}

#facebox .content .dialog_right .submit{
  text-align: right;
  padding: 2px 5px;
  
}
#facebox .content .dialog_right .submit .button{
  font-size: 14px;
}


.dialog_main .picture_uploader{
  padding:10px;
}
.dialog_main .picture_uploader h2{
  margin:0px;
}
.dialog_main .picture_uploader form{
  padding:10px;
}