<html>
<head>
<title>Kuestions - Welcome to Kuestions</title>

</head>
<body>

<h1>Kuestions - Welcome to Kuestions</h1>

<!--TODO : turn into a javascript banner -->
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}


<h2>Sign in</h2>


<form action="/kuestions/security/in/" method="post">
{% csrf_token %}
login<input type="text" name="login"/><br/>
password<input type="password" name="password"/><br/>
<input type="submit" value="Sign In"/>
</form>

<h2>Register</h2>

<form action="/kuestions/register/" method="post">
{% csrf_token %}
login<input type="text" name="login"/><br/>
password<input type="password" name="password"/><br/>
email<input type="text" name="email"/><br/>
<input type="submit" value="Register"/>

<!-- TODO change this form to a an ajax one with hash of the password before sending the request-->


<body>
</html>
