<html>
<head>
{% if user.login %}
<title>Kuestions - {{ user.login }} profile</title>
{% else %}
<title>Kuestions -404 :  User not found</title>
{% endif %}
</head>
{% if user.login %}
<body>
{% if not isAdmin %}
<h3>Welcome to {{ user.login }}'s profile</h3>
{% else %}
<h3>Welcome to your profile</h3>
{% endif %}
<img src="{{ MEDIA_URL }}/future.jpg" /><br /><br />
{% if user.resume %}
<h3>Resume</h3>
<p>{{user.resume}}</p>
{% endif %}



{% else %}
<h1>404 - User Not Found </h1>
{% endif %}
<a href='/kuestions/'>Home Page</a>
<body>
</html>
