<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>

<link href="{{ MEDIA_URL }}/css/style.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript"
	src="{{ MEDIA_URL }}/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
  mode : "textareas",
  theme : "advanced",
  theme_advanced_toolbar_location : "top",
  theme_advanced_toolbar_align : "left",
  theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,undo,redo,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist",
  theme_advanced_buttons3 : "",
  theme_advanced_buttons2 : "",
});
</script>

	{% if user.login %}
	<title>Kuestions - {{ user.login }} profile</title> 
	{% endif %}
</head>
<body>
	<div id="wrap">
		<!-- header -->
		<div id="header">
			<div class="logo">
				<a href="/"><img src="{{ MEDIA_URL }}/image/logo.png" /></a>
				<div class="search_form">
				<form action="/search/" method="get"> 
						<input type="text" name="search" class="search_txt" size=50 placehoder="hi"/> 
						<input type="submit" value="search" />
				</form>
				</div>
			</div>
		</div>
		<!-- //header -->
		<!-- container -->
		<div id="container">
			<!-- content -->
			<div id="content">
				<h3 class="title">
				{% if not isAdmin %}
				Welcome to {{ user.login }}'s profile
				{% else %}
				Welcome to your profile
				{% endif %}
				</h3>
				{% if user.resume %}
				<h3>Resume</h3>
				<p>{{user.resume|safe}}</p>

				{% else %}
				<h1>404 - User Not Found</h1>
				{% endif %}

				<form>
					<textarea name="content" cols="50" rows="15"> 
        			{{user.resume|escape }}
        			</textarea>
				</form>
			</div>
			<!-- //content -->
			<!-- aside -->
			<div class="aside">
				<ul class="menu">
					<h2>{{ currentUser.login }}</h2>
					<li><a href='/'>Home Page</a></li>
					<li><a href='/user/'>Profile</a></li>
					<li><a href='/security/out'>Sign Out</a></li>
				</ul>
			</div>
			<!-- //aside -->
		</div>
		<!-- //container -->

		<!-- footer -->
		<div id="footer"></div>
		<!-- //footer -->
	</div>
	
</body>
</html>
